{% load i18n %}
{% load l10n %}
{% load static %}


<div id="sidebar" class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu">
    <li class="sub-menu">
      <a href="javascript:;" class="">
        <i class="icon_document_alt"></i>
        <span>Employee Management</span>
        <span class="menu-arrow arrow_carrot-right"></span>
      </a>
      <ul class="sub">
        <li><a class="" href="form_component.html">Create Employee</a></li>
        <li><a class="" href="form_validation.html">List Employee</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a href="javascript:;" class="">
        <i class="icon_desktop"></i>
        <span>Leave Management</span>
        <span class="menu-arrow arrow_carrot-right"></span>
      </a>
      <ul class="sub">
        <li><a class="" href="form_component.html">Leave Setup</a></li>
        <li><a class="" href="form_validation.html">Create Leave</a></li>
        <li><a class="" href="form_validation.html">List Leaves</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a href="javascript:;" class="">
        <i class="icon_document_alt"></i>
        <span>Services Management</span>
        <span class="menu-arrow arrow_carrot-right"></span>
      </a>
      <ul class="sub">
        <li><a class="" href="form_component.html">Create Services</a></li>
        <li><a class="" href="form_validation.html">List Services</a></li>
      </ul>
    </li>
    <li>
      <a class="" href="chart-chartjs.html">
         <i class="icon_piechart"></i>
        <span>Recruitment System</span>
      </a>
    </li>
    <li>
      <a class="" href="chart-chartjs.html">
        <i class="icon_piechart"></i>
        <span>Attendence</span>
      </a>
    </li>
  </ul>
  <!-- sidebar menu end-->
</div>
